{% extends('layout.twig') %}

{% block content %}

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">Se connecter</div>
                <div class="card-block">
                    <form action="{{ path_for('auth.login') }}" method="post">
                        {{ csrf_input() }}
                        {% include 'shared/input.twig' with {key: 'username', label: "Nom d'utilisateur"} %}
                        {% include 'shared/input.twig' with {key: 'password', label: "Mot de passe", type: 'password'} %}
                        <input type="hidden" name="redirect" value="{{ redirect }}">
                        <button class="btn btn-primary">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
        {% if has_module('registration') %}
        <div class="col-sm-6">
            {{ registration_form() }}
        </div>
        {% endif %}
    </div>

{% endblock %}