<p>
  Vous avez reçu un nouvel email
</p>

<ul>
  <li><strong>Nom :</strong> {{ name }}</li>
  <li><strong>Email :</strong> {{ email }}</li>
  <li>
    <strong>Message :</strong><br>
    {{ message }}
  </li>
</ul>