{{ csrf_input() }}
{% include 'shared/input.twig' with {key: 'name', label: "Titre", value: product.name} %}
{% include 'shared/input.twig' with {key: 'price', label: "Prix", value: product.price} %}
{% include 'shared/input.twig' with {type: 'textarea', key: 'description', label: "Description", value: product.description} %}
{% if product.image %}
    <p>
        <img src="/uploads/produits/{{ product.image }}" alt="" width="300">
    </p>
{% endif %}
{% include 'shared/input.twig' with {key: 'image', label: 'Image à la une', type: 'file'} %}