{% extends('layout.twig') %}

{% block title %}
  Blog{% if page > 1 %}, page {{ page }}{% endif %}
{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-md-9">

      {% for row in posts | batch(3) %}
        <div class="card-deck" style="margin-bottom: 2rem;">
          {% for post in row %}
            {% include '@blog/single.twig' with {post: post} %}
          {% endfor %}
        </div>
      {% endfor %}

      {% block paginate %}
        {{ paginate(posts, 'blog.index') }}
      {% endblock paginate %}

    </div>
    <div class="col-md-3">

      <ul class="list-group">
        {% for c in categories %}
          <a class="list-group-item {% if c.id == category.id %}active{% endif %}" href="{{ path_for('blog.category', {slug: c.slug}) }}">{{ c.name }}</a>
        {% endfor %}
      </ul>

    </div>
  </div>


{% endblock %}